.wrapper,
.single-card {
  margin: 1%;
  height: 150;
  max-width: 300px;
  font-size: 1.4em;
  position: relative;
}
.wrapper {
  perspective: 90%;
}
.single-card {
  text-align: center;
  transition: all 1.5s cubic-bezier(0.7, -0.5, 0.3, 1.8);
  transform-style: preserve-3d;
}
.wrapper:hover .single-card {
  transform: rotateY(180deg);
}
.front,
.back {
  /* margin: 3%; */
  width: 300px;
  position: relative;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid black;
  border-radius: 3px 3px;
}
.front {
  cursor: pointer;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(1.jpg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* border-radius: 50px; */
  background-size: cover;
  background-position: center center;
}
.back {
  transform: rotateY(180deg);
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 150px;
  background: #fff;
}
