/* TopCenteredTitle.css */
.top-centered-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2%;
  background-color: #cce33c;
  color: #fff;
  font-size: 2em;
  border-radius: 1em;
  margin-top: 3%;
  margin-left: 10%;
  box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.2);
  text-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.4);
  min-width: 80%;
}
